@mixin before_circle {
    &::before {
        position: absolute;
        content: '';
        z-index: -1;
        top: -25%;
        left: 0;
        width: 36px;
        height: 36px;
        background: $main-color;
        border-radius: 100%;
    }
}